src/main/resources/META-INF/mule-excel.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema targetNamespace="http://www.mulesource.org/schema/mule/excel/2.1"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified" xmlns="http://www.mulesource.org/schema/mule/excel/2.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mule="http://www.mulesource.org/schema/mule/core/2.1" xmlns:spring="http://www.springframework.org/schema/beans">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
    <xsd:import namespace="http://www.springframework.org/schema/beans"
                schemaLocation="http://www.springframework.org/schema/beans/spring-beans-2.0.xsd"/>
    <xsd:import namespace="http://www.mulesource.org/schema/mule/core/2.1"
                schemaLocation="http://www.mulesource.org/schema/mule/core/2.1/mule.xsd" />

    <xsd:complexType name="rowSplitterType">
    	<xsd:complexContent>
    		<xsd:extension
    			base="mule:messageSplitterOutboundRouterType">
    			<xsd:attribute name="sheetName" type="xsd:string"></xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="row-splitter" type="rowSplitterType" substitutionGroup="mule:abstract-outbound-router"></xsd:element>

    <xsd:complexType name="beanToXlsTransformerType">
    	<xsd:complexContent>
    		<xsd:extension base="mule:abstractTransformerType">
    			<xsd:attribute name="template"
    				type="xsd:string">
    			</xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:complexType name="xlsToBeanTransformerType">
    	<xsd:complexContent>
    		<xsd:extension base="mule:abstractTransformerType">
    			<xsd:sequence maxOccurs="unbounded" minOccurs="0">
    				<xsd:element name="mapping-bean" type="mule:keyValueType"></xsd:element>
    			</xsd:sequence>
    			<xsd:attribute name="mappingFile"
    				type="xsd:string">
    			</xsd:attribute>
    		</xsd:extension>
    	</xsd:complexContent>
    </xsd:complexType>
    
    <xsd:element name="xls-to-bean-transformer" type="xlsToBeanTransformerType" substitutionGroup="mule:abstract-transformer"></xsd:element>

    <xsd:element name="bean-to-xls-transformer" type="beanToXlsTransformerType" substitutionGroup="mule:abstract-transformer"></xsd:element>
</xsd:schema>
